.modal {
    .event-auto {
        pointer-events: auto;
    }
}
.assign-shops {
    .row {
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }
}
.add-rows-wrapper {
    @include hover-btn; 
    cursor: pointer;
    span {
        font-size: 1.4rem;
        line-height: 0;
    }
}
