@import "~@/assets/scss/base/variables";
@import "~@/assets/scss/base/typography";
@import "~@/assets/scss/layout/card";
@import "~@/assets/scss/layout/form";
@import "~@/assets/scss/components/buttons";

.login {
    background: url('~@/assets/images/login/login.webp') no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}